body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background: #000000;
  background-image: linear-gradient(
    to top,
    #323232,
    #272727,
    #1c1c1c,
    #111111,
    #000000
  );
  min-height: 100vh;
  height: auto;
  color: white;
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

.profile {
  border-radius: 25%;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

nav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.mainImage {
  background-color: #1c1c1c;
  border-radius: 50%;
  border: 2px solid #272727;
  width: 450px;
  height: 450px;
  transition: all 0.5s;
  object-fit: cover;
}

.mainImage:hover {
  transform: rotatez(-20deg);
  transition: all 0.5s;
}

.main {
  margin: 12rem;
  margin-top: 20vh;
}

.main-skills {
  margin: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-works {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.absolute {
  position: absolute;
  opacity: 50%;
  top: 80vh;
  right: -250vh;
}

.button-src {
  display: flex;
  text-decoration: none;
  color: black;
  background-color: transparent;
  padding: 1rem;
  border-radius: 16px;
  transition: all 0.3s;
  border: 1px solid white;
}

.button-src:hover {
  background-color: rgba(128, 128, 128, 0.298);
  color: black;
  transform: translateY(-5px) scale(1.025);
  transition: all 0.3s;
}

.marquee {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  color: white;
  opacity: 50%;
}

.marquee-content {
  font-size: 9rem;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

.marquee-content span {
  display: inline-block;
  padding-right: 2rem;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.text-absolute {
  font-size: 10rem;
  font-weight: bold;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  transition: all 0.3s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.03);
  transition: all 0.3s;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

li {
  transition: all 0.3s;
}

li:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: larger;
  padding: 0.7rem 2rem 0.7rem 2rem;
  border-radius: 18px;
  transition: all 0.3s;
}

.button:hover {
  transform: translateY(-5px) scale(1.025);
  background-color: gainsboro;
  transition: all 0.3s;
}

.button-works {
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: larger;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 16px;
  transition: all 0.3s;
}

.button-works:hover {
  background-color: gainsboro;
  transition: all 0.3s;
}

.text2 {
  margin-bottom: 1rem;
}

.title {
  font-weight: bold;
  margin-bottom: 0;
}

.deskripsi {
  display: flex;
  justify-content: space-around;
}

.deskripsi .pad {
  background-color: #1c1c1c;
  border-radius: 20px;
  max-width: 50vw;
  padding: 2rem;
  border: 2px solid #272727;
}

.tulisan-1,
.tulisan-2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.image-container {
  background-color: #1c1c1c;
  border-radius: 20px;
  border: 2px solid #272727;
}

.image-container img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  transition: all 0.3s;
}

.image-container img:hover {
  transform: scale(1.3) translateY(-40px);
  transition: all 0.3s;
}

.grid-works {
  max-width: 80vw;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.grid-works .ele {
  background-color: #1c1c1c;
  border-radius: 16px;
  padding: 2rem 2rem 2rem 2rem;
  border: 2px solid #272727;
  transition: all 0.3s;
}

.grid-works div:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.grid-works div img {
  border-radius: 16px;
}

.text-skills {
  visibility: hidden;
  margin-bottom: 0rem;
  color: gray;
}

.grid-skills {
  display: flex;
  gap: 2rem;
}

.grid-skills div {
  background-color: #1c1c1c;
  border-radius: 16px;
  padding: 2rem 2rem 1rem 2rem;
  text-align: center;
  border: 2px solid #272727;
  transition: all 0.3s;
}

.grid-skills div:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.grid-skills div progress {
  padding: 2rem;
  accent-color: white;
}

h3 {
  margin-bottom: 0;
}

svg {
  width: 10rem;
  height: 10rem;
  border-radius: 16px;
}

#name {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 25vw;
  border-radius: 16px;
  height: 2rem;
  border: none;
  font-size: large;
  font-family: "Poppins";
}

#email {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 25vw;
  border-radius: 16px;
  height: 2rem;
  border: none;
  font-size: large;
  font-family: "Poppins";
}

#pesan {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 25vw;
  border-radius: 16px;
  height: 5rem;
  border: none;
  font-size: large;
  font-family: "Poppins";
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

form button {
  background-color: #272727;
  border: 1px solid #323232;
  color: white;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-radius: 16px;
  font-size: larger;
  font-family: "Poppins";
  width: 100%;
}

.main-contact {
  margin: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.social-media a {
  transition: all 0.3s;
}

.social-media a:hover {
  transform: translateY(-10px) scale(1.05);
  transition: all 0.3s;
}

.social-media a svg {
  width: 50px;
  height: 50px;
}

.home-con {
  display: flex;
  gap: 1rem;
}

.home-con a svg {
  width: 20px;
  height: 20px;
}

.grid-works .ele div {
  transform: none;
}

.top {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  nav {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  nav ul {
    gap: 1rem;
  }
  nav ul .first {
    visibility: hidden;
  }

  h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
  }

  h2 {
    text-align: center;
    font-size: 1.5rem;
  }

  .main {
    margin: 1rem;
  }

  .tulisan-1,
  .tulisan-2 {
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  .text2 {
    margin-bottom: 1.5rem;
  }

  .deskripsi {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .deskripsi .pad {
    padding-top: 1.5rem;
    max-width: 100vw;
  }

  .mainImage {
    width: 200px;
    height: 200px;
  }

  .button {
    display: flex;
    justify-content: center;
  }

  .home {
    flex-direction: column-reverse;
  }

  .image-container {
    display: flex;
    justify-content: center;
  }

  .image-container img {
    width: 150px;
    height: 100px;
  }

  .image-container img:hover {
    transform: none;
  }

  .grid-skills {
    max-width: 100vw;
    overflow-x: auto;
    padding: 1rem;
    scrollbar-width: none;
  }

  .grid-works {
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-works .ele {
    gap: 1rem;
    display: flex;
  }

  .grid-works .ele div h2 {
    text-align: start;
  }

  .grid-works .ele div {
    transform: none;
  }

  .grid-works div img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  .sampul {
    margin-top: 0;
    background-color: #1a1a1a;
    border: 2px solid #272727;
    border-radius: 16px;
    max-width: 85vw;
  }

  #name {
    width: 80vw;
  }

  #email {
    width: 80vw;
  }

  #pesan {
    width: 80vw;
  }

  form button {
    width: 100%;
  }

  .text-skills {
    visibility: visible;
    margin-bottom: 1rem;
  }

  .main-skills {
    margin: 3rem;
  }

  .title-works {
    margin-top: 0;
  }

  svg {
    width: 5rem;
    height: 5rem;
  }

  .marquee-content {
    margin-top: 0;
    font-size: 5rem;
  }

  .home-con {
    display: flex;
    justify-content: center;
  }

  .no-scroll {
    height: 100vh;
  }
}
